<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Daniel Vaughan's Blog" />
	<meta name="keywords" content="Daniel Vaughan, C#, MVP, .NET, Visual Studio, XAML, Xamarin" />
	<meta name="author" content="Outcoder" />
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/assets/css/style.css?v=a7c0f4edf9a5acd773e89cc728c07a4213c2a526">
	<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<script>
		MathJax = {
			tex: {
			inlineMath: [['$', '$'], ['\\(', '\\)']],
			displayMath: [['$$', '$$'], ['\\[', '\\]']]
			}
		};
	</script>
	<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
	
	<script src="/js/jquery.min.js"></script> 
	<script src="/js/bootstrap.min.js"></script>
	
	{% for css in layout.customcss %}
	<link rel="stylesheet" href="{{ css }}" />
	{% endfor %}
	
	{% for css2 in layout.cssmaxwidth700 %}
	<link rel="stylesheet" href="{{ css2 }}" media="screen and (max-width: 700px)" />
	{% endfor %}

	{% for js in layout.customjs %}
	<script type="text/javascript" src="{{ js }}"></script>
	{% endfor %}

	{% for css in page.customcss %}
	<link rel="stylesheet" href="{{ css }}" />
	{% endfor %}
	
	{% for css2 in page.cssmaxwidth700 %}
	<link rel="stylesheet" href="{{ css2 }}" media="screen and (max-width: 700px)" />
	{% endfor %}

	{% for js in page.customjs %}
	<script type="text/javascript" src="{{ js }}"></script>
	{% endfor %}
</head>
<body>
	<div id="header_wrap" class="outer">
		<div class="inner">
			<span>
				<!--
	<div style="float: right; vertical-align: text-bottom; margin-top: 13px">
		<a href="https://mvp.microsoft.com/en-us/PublicProfile/4028455"><img src="/assets/images/MVPLogo.png" height="70px" /></a>
	</div>
	-->
				<div style="float: left;margin-right: 12px">
					<img src="/assets/images/DanielBalconyCircle.png" height="70px" />
				</div>
				<a href="/"><h1 id="project_title">Daniel Vaughan</h1></a>

			</span>
			<span>
				
					<!-- <div style="float: right">-->
					<!-- <img src="/assets/images/MVPLogo.gif" height="100px"/>-->
					<!-- </div>-->
					<!-- <div>-->
					<!-- <h1 id="NameBanner">DANIEL VAUGHAN</h1>-->
					<!-- $1$ <h2 id="BlogTitleBanner">Free Range Code</h2>#1#-->
					<!-- </div>-->
					<!---->
			</span>

			<div id="MainButtons">
				<!--<a href="/">HOME</a>-->
				<a href="/Publications/">publications</a>
				<a href="/AboutMe/">about</a>
				<!--<a href="/Awards/" style="margin-right: 0px">awards</a>-->
<!--				<a href="/Contact/" style="margin-right: 0px">CONTACT</a>-->
			</div>
		</div>

		
	</div>
	
<div id="main_content_wrap" class="outer">
	<section id="main_content" class="inner">
		{% if page.divisionclass %}
		<div class="{{ page.divisionclass }}">
			{{ content }}
		</div>
		{% else %}
		{{ content }}
		{% endif %}	
	</section>
</div>

</body>
</html>
